@{
    Layout = "";
    eTraining.BussinessModels.FormControl control = (eTraining.BussinessModels.FormControl)ViewData["FormControl"];
    string formGroup = ViewData["FormGroup"].ToString();
}

@if (control != null)
{
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="form-group row">
            <label class="col-12 txt-left col-form-label">@control.Display</label>
            <div class="col-12">
                <div class="checkbox-fade fade-in-primary">
                    <label for="@(formGroup + control.Key)_1">
                        <input type="checkbox" name="check1" id="@(formGroup + control.Key)_1" value="@control.Value" data-required="@control.IsRequire" data-number="@control.IsNumber" data-email="@control.IsEmail">
                        <span class="cr">
                            <i class="cr-icon fa fa-check txt-primary"></i>
                        </span>
                        <span>@control.Display</span>
                    </label>
                    @if (!String.IsNullOrEmpty(control.Note))
                    {
                        <small class="form-text text-muted">@control.Note</small>
                    }
                </div>
                <div class="checkbox-fade fade-in-primary">
                    <label for="@(formGroup + control.Key)_2">
                        <input type="checkbox" name="check2" id="@(formGroup + control.Key)_2" value="@control.Value" data-required="@control.IsRequire" data-number="@control.IsNumber" data-email="@control.IsEmail">
                        <span class="cr">
                            <i class="cr-icon fa fa-check txt-primary"></i>
                        </span>
                        <span>@control.Display</span>
                    </label>
                    @if (!String.IsNullOrEmpty(control.Note))
                    {
                        <small class="form-text text-muted">@control.Note</small>
                    }
                </div>
                <div class="checkbox-fade fade-in-primary">
                    <label for="@(formGroup + control.Key)_3">
                        <input type="checkbox" name="check3" id="@(formGroup + control.Key)_3" value="@control.Value" data-required="@control.IsRequire" data-number="@control.IsNumber" data-email="@control.IsEmail">
                        <span class="cr">
                            <i class="cr-icon fa fa-check txt-primary"></i>
                        </span>
                        <span>@control.Display</span>
                    </label>
                    @if (!String.IsNullOrEmpty(control.Note))
                    {
                        <small class="form-text text-muted">@control.Note</small>
                    }
                </div>
                <div class="checkbox-fade fade-in-primary">
                    <label for="@(formGroup + control.Key)_4">
                        <input type="checkbox" name="check4" id="@(formGroup + control.Key)_4" value="@control.Value" data-required="@control.IsRequire" data-number="@control.IsNumber" data-email="@control.IsEmail">
                        <span class="cr">
                            <i class="cr-icon fa fa-check txt-primary"></i>
                        </span>
                        <span>@control.Display</span>
                    </label>
                    @if (!String.IsNullOrEmpty(control.Note))
                    {
                        <small class="form-text text-muted">@control.Note</small>
                    }
                </div>
            </div>
        </div>
    </div>
}

