@{
    Layout = "";
    eTraining.BussinessModels.FormControl control = (eTraining.BussinessModels.FormControl)ViewData["FormControl"];
    string formGroup = ViewData["FormGroup"].ToString();
}

@if (control != null)
{
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="form-group row">
            <label class="col-12 txt-left col-form-label">@control.Display</label>
            <div class="col-12">
                <select class="form-control" style="width:100%;" name="@control.Name" id="@(formGroup + control.Key)" value="@control.Value" data-required="@control.IsRequire" data-number="@control.IsNumber" data-email="@control.IsEmail"></select>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                var placeHolder = '@Html.Raw(HttpUtility.JavaScriptStringEncode(control.PlaceHolder))';
                    var newStateDefault = new Option('- ' + placeHolder + ' -', '', true, true);
                    $('select[id=' + '@(formGroup + control.Name)' + ']').append(newStateDefault);
                    $.ajax({
                    type: "POST",
                    url: '/Configulation/Control/ComboboxByDataSource',
                    data: "dataSource=" + '@control.DataSource',
                        success: function (response) {
                        $.map(response, function (item) {
                            var newState = new Option(item.Name, item.Code, true, true);
                            $('select[id=' + '@(formGroup + control.Name)' + ']').append(newState);
                        });
                        $('select[id=' + '@(formGroup + control.Name)' + ']').val('@control.Value').trigger('change');
                    }
                });
            })
        </script>
    </div>
}

