@{
    Layout = "";
    BussinessModels.fitem control = (BussinessModels.fitem)ViewData["FormControl"];
}
<!-- Date-time picker css -->
<link rel="stylesheet" type="text/css" href="/Content/Templates/GuruTemplate/assets/pages/advance-elements/css/bootstrap-datetimepicker.min.css">
@if (control != null)
{
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="form-group row">
            <label class="col-12 txt-left col-form-label">@control.display</label>
            <div class="col-12">
                <div class="form-group mb-0 w-100">
                    <div class='input-group date mb-0' id="@control.key">
                        <input class="form-control text-right" type="text" id="@(formGroup + control.Key)_input" value="@control." placeholder="@control.holder">
                        <span class="input-group-addon ">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    (function($) {
      'use strict';
        var dateNow = new Date();
        if (@control && $("#" + @control.key).length) {
            $("#" + @control.key).datetimepicker({
                format:'HH:mm DD/MM/YYYY',
                defaultDate:dateNow,
                locale:'vi',
                icons: {
                    time: "icon-clock",
                    date: "icon-calendar"
                },
            });
        }
    })(jQuery);
</script>